*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.biggestbox{
    margin: auto;
    width: 800px;
    max-width: 800px;
    text-align: center;
    margin-top: 10px;
    margin-left: 20%;
    margin-right: 20%;
}

body{
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;

}


/* Regole Header:
    1) parte in alto: font piccolo per il div centrale
    - bottone 'accedi' top right (float right?)

    2) parte centrale: scritte bianche
    3) bottoni uno bianco uno nero
*/



/* regole header generali: */

header{
    background-color: blue;
    background-image: url(file:///Users/alessandrofranco/Desktop/Esercizi%20Boolean/htmlcss-discord/img/jumbo.png);
    background-size: cover;
    height: 290px;
    width: 100%;
}

/* Regole header 1: parte in alto */

.header-top {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 50px;
}

#accedi{
    background-color: white;
    border-radius: 50px;
    padding: 8px;
}

.voci {
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 10px;
}

/* Regole header 2: parte centrale */

.header2 {
    color: white;
}


.paragrafo-header{
    margin-top: 10px;
    margin-left: 190px;
    margin-bottom: 10px;
    line-height: 20px;
    width: 50%;
    font-size: 13px;
}

/* Regole header 3: parte in basso */

#bottone1{
    background-color: white;
    border-radius: 50px;
    padding: 8px;
}

#bottone2{
    background-color: black;
    color: white;
    border-radius: 50px;
    padding: 8px;
}

/* ------------------------------------------------------------------ */

/* Regole main:
    1) img float left
    2) img float right
    3) img float left

img 1 2 3 hanno la stessa grandezza

    4) img and text align centre
*/

/* Regole Main1: */

.main1{
    display: flex;
}


.rana {
    float: left;
}



/* Regole main2 */

.magician{
    float: right;
}


/* Regole main3 */

.monster {
    float: left;
}

/* Regole main4 */






/* Regole footer:
    5 colonne di diversa width
*/